body {
	background-color: #222;
	color: #dd0;
	font-weight: bold;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	padding: 20px;
	text-align: center;
}

div.title {
	font-size: 4.0em;
	font-weight: bold;
	padding-bottom: 10px;
	border: solid 3px #ff0;
	border-radius: 60px;
	width: 640px;
}

a {
	color: #ff0;
}
a:hover {
	color: #fff;
}

table {
	border: none;
	width: 100%;
}

td {
	padding: 5px;
	border: solid 2px #dd0;
	border-radius: 5px;
	max-width: 50px;
}

td.label {
}
td.label:hover {
	cursor: default;
}
td.index {
	max-width: 10px;
}
td.index:hover {
	background-color: #aa3;
	cursor: pointer;
}
td.active {
	max-width: 10px;
	background-color: #dd0;
	color: #222;
	cursor: default;
}

tr.episode {
	visibility: hidden;
}

table.content {
	padding-top: 15px;
}

td.info_title {
	width: 20%;
}
td.info_content {
	width: 80%;
	text-align: left;
	padding-left: 10px;
}
td.info_top {
	padding: 10px;
}
td.video_container {
	padding: 25px;
	border: none;
}
td.info_container {
	border: none;
}

#media {
	min-height: 200px;
}
